h1 { 
    font-family: 'Montserrat';
    font-size: 60px;
    text-align: center;
    line-height: 100px; 
}

h2 { 
    font-family: 'Montserrat';
    font-size: 50px;
    text-align: center;
    line-height: 60px; 
}

h3 { 
    font-family: 'Montserrat';
    font-size: 40px;
    text-align: center;
    line-height: 50px; 
}

.container{
    position: relative;
    height: 100%;
   }


.button-wrapper {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.space-above {
    margin-top: 40px;
}

.center-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.accordion-file{
    font-size: 25px;
    line-height: 60px; 
}

.honor-newline {
    white-space: pre-line;
}