{% extends "layout.html" %}

{% block head %}
    What does your DNA encode?
{% endblock %}


{% block body %}
    <h1>What does your DNA encode?</h1>

    <p>
        Do you have a FASTA file without a proper header? Maybe you have found an old DNA sequence on your hard drive that you have no idea what it encodes?
        Do not look any further! This pipeline: 
    </p>
    <ul>
        <li>takes a FASTA file as input or performs a test using one of the saved FASTA files. Saves the data into a local database for later usage.</li>
        <li>If a file consists multiple sequences separated by headers, the user will be asked to choose only one sequence for analysis</li>
        <li>The final sequence is uploaded to NCBI BLASTN server for homology assessment and a report is returned with a possible protein which is encoded by the input.</li>
    </ul>

    <h2>Upload a FASTA file or choose one from a database</h2>


    <div class="container">
        <div class="row space-above">
          <div class="col">
            <form action="/upload" method="GET">
                <input type="hidden" name="upload">
                <button name="filetype" value="fasta" class="btn btn-primary btn-lg" type="submit">upload your FASTA sequence file</button>
            </form>
          </div>
          <div class="col">
            <form action="/browseseq" method="GET">
                <input type="hidden" name="browseseq">
                <button name="filetype" class="btn btn-primary btn-lg" value="fasta" type="submit">Choose from the database...</button>
            </form>
          </div>
          <div class="col">
            <form action="/" method="GET" >
                <input type="hidden" name="home">
                <button class="btn btn-primary btn-lg" type="submit">Take me back to the home page</button>
            </form>
          </div>
        </div>
    </div>

{% endblock %}