{% extends "layout.html" %}

{% block head %}
Perform a quick analysis of a FASTQ file
{% endblock %}


{% block body %}
    <h1>Perform a quick analysis of a FASTQ file</h1>

    <p>
        Do you have a FASTQ file that you do not know the quality of? This pipeline allows you to perform Quality Control analysis of your FASTQ file.
        This pipeline:
    </p>
    <ul>
        <li>takes a FASTQ file as input or performs a test using one of the saved FASTQ files. Saves the data into a local database for later usage.</li>
        <li>performs Quality Control using FastQC and returns a report. Allows the user to retrieve the report and make a decision if the final Quality is sufficient to proceed with the calculation.</li>
    </ul>

    <h2>Upload a FASTQ file or choose one from a database</h2>


    <div class="container">
        <div class="row space-above">
          <div class="col">
            <form action="/upload" method="GET">
                <input type="hidden" name="upload">
                <button name="filetype" value="fastq" class="btn btn-primary btn-lg" type="submit">upload your FASTQ sequence file</button>
            </form>
          </div>
          <div class="col">
            <form action="/browseseq" method="GET">
                <input type="hidden" name="browseseq">
                <button name="filetype" class="btn btn-primary btn-lg" value="fastq" type="submit">Choose from the database...</button>
            </form>
          </div>
          <div class="col">
            <form action="/" method="GET" >
                <input type="hidden" name="home">
                <button class="btn btn-primary btn-lg" type="submit">Take me back to the home page</button>
            </form>
          </div>
        </div>
    </div>

{% endblock %}