{% extends "layout.html" %}

{% block head %}
    NGS analysis
{% endblock %}


{% block body %}
   <div>
      <h1>{{ project_title }}</h1>

      <h2>Available pipelines:</h2>
   </div>
   <div>
      
      <ul class="list-group">
         {% for option in options %}
            <form action="{{ option[0] }}" method="GET">
               <input type="hidden" name="{{ option[1] }}" value="{{ option[0] }}">
               <button class="mx-auto w-auto d-flex justify-content-center space-above list-group-item btn btn-primary" type="submit">{{ option[1] }}</button>
            </form>
         {% endfor %}
       </ul>
   </div>
{% endblock %}