{% extends "layout.html" %}

{% block head %}
    Upload FASTA/FASTQ
{% endblock %}


{% block body %}
    <h1>Upload your FASTA/FASTQ file</h1>

    <p>
        Please upload your FASTA/FASTQ file. It will be saved for future analyses. 
    </p>
    <form method="post" enctype="multipart/form-data">
        <div class="w-25 p-3">
            <label for="upload" class="form-label">Input you sequence file</label>
            <input class="form-control form-control-lg " name="upload" id="upload" type="file" accept=".fasta, .fastq">
        </div>
        <div class="mb-3 w-25 p-3">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}