{% extends "layout.html" %}

{% block head %}
    Upload FASTA
{% endblock %}


{% block body %}
    <h1>Upload your FASTA file</h1>

    <p>
        Please upload your FASTA file. It will be saved for future analyses. 
    </p>
    <form method="post" enctype="multipart/form-data">
        <div class="w-25 p-3">
            <label for="upload" class="form-label">Input you sequence file</label>
            <input class="form-control form-control-lg" name="upload" id="upload" type="file" accept=".fasta">
        </div>
        <div class="mb-3 w-25 p-3">
            <button name="filetype" value="{{ filetype }}" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}